@font-face {
	font-family:'GoudyTextMTStd-Regular';
	src: url('GoudyTextMTStd_gdi.eot');
	src: url('GoudyTextMTStd_gdi.eot?#iefix') format('embedded-opentype'),
		url('GoudyTextMTStd_gdi.woff') format('woff'),
		url('GoudyTextMTStd_gdi.ttf') format('truetype'),
		url('GoudyTextMTStd_gdi.svg#GoudyTextMTStd-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}